
<div class="container">

  <form class="form form--search">
    <mat-form-field>
      <input matInput placeholder="Search for Images" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (keyup)="searchImages(searchQuery)">
    </mat-form-field>
  </form>

  <mat-progress-spinner *ngIf="searching" mode="indeterminate" class="mb-4 mx-auto d-block"></mat-progress-spinner>

  <div class="row">
    <div class="col-6 col-md-4 col-xl-3 mb-5" *ngFor="let image of images">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + image.userImageURL + ')'}"></div>
          <mat-card-title class="mb-0"><strong>User:</strong> {{image.user}}</mat-card-title>
          <mat-card-subtitle><strong>Likes:</strong> {{image.likes}}</mat-card-subtitle>
        </mat-card-header>
        <a href="{{image.largeImageURL}}" target="_blank"><img mat-card-image src="{{image.webformatURL}}" alt=""></a>
        <mat-card-content *ngIf="image.tags" class="mb-0">
          <p>
            <strong>Tags:</strong> {{image.tags}}
          </p>
        </mat-card-content>
        <mat-card-actions align="start">
          <a mat-flat-button href="{{image.pageURL}}" target="_blank">LINK</a>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>
  
</div>